/* boilerplate */
html {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}
   
*, *:before, *:after {
    box-sizing: inherit;
}

/* cards container */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto)); /* auto-fit FITS the CURRENTLY AVAILABLE space, and auto equals to max-content  */
    grid-gap: 10px;
    padding: 10px;
    border: 4px solid #56626e;
    border-radius: 5px;
}

/* a card */
section {
    background-color: #58a1af;
    font-weight: 600;
    min-height: 2rem;
    min-width: 4rem;
    color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
}

/* dimensions are fitted manually */
@media (min-width: 41.5rem) and (max-width: 68.75rem) {

    section:last-child {
        grid-column: span 3; /* set the starting line and then 3 columns to span */
        text-align: center;
    }
}
