/* boilerplate */
html {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}
   
*, *:before, *:after {
    box-sizing: inherit;
}

#menuToggle {
    position: absolute;
    top: 20px; 
    right: 20px; 
    display: block;
    width: 40px; 
    height: 30px; 
    z-index: 3;
}

#menuToggle input {
    position: absolute;
    width: 40px;
    cursor: pointer;
    opacity: 0; 
    z-index: 2;
    -webkit-touch-callout: none;
    border: 1px solid black;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #1b808c;
    border-radius: 3px;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    right: 0; 
}

#menuToggle span {
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transform-origin: 4px 0px; /* set to 4px 0px to specify the center of rotation for the transform property above. */
}

#menuToggle span:first-child {
    transform-origin: 0% 0%; /*sets the origin of the transform property to the top left corner of the element.*/
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%; /*sets the origin of the transform property to the bottom left corner of the element.*/
}

#menuToggle input:checked ~ span {/* selects all span elements that come after an input element that is checked inside the #menuToggle element. */
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(3) { /* selects the third span element from the end that comes after an input element that is checked inside the #menuToggle element. */
    opacity: 0; /* sets the opacity of the element to 0, making it invisible. */
    transform: rotate(0deg) scale(0.2, 0.2); /* applies a rotation of 0 degrees and a scale of 0.2 to the element, making it very small and invisible.*/
}

#menu {
    position: absolute; /* allow us to position the menu on top of the rest of the content. */
    right: -300px;/* This property moves the menu outisde of the viewport*/
    top: 80px; /*This property sets the distance between the top edge of the menu and the top edge of the #menuToggle div.*/
    width: 200px; 
    margin: -100px -50px 0 0px;/* The negative margin values are used to move the menu up and to the left to center it vertically and horizontally within the #menuToggle div. */
    padding: 50px;
    padding-top: 125px;
    background: #d2e7f2;
    list-style-type: none; /* removes the default bullet points of the list. */
    -webkit-font-smoothing: antialiased; /*This property sets the font smoothing for webkit browsers. */
    transition: right 0.5s; /* This property sets the transition effect for the left property. This will create a smooth animation when the menu slides in from the left.*/
  }
  
#menu li {
    padding: 10px 0;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #3e3e3e;
}

#menuToggle input:checked ~ ul {
    right:40px;
  }